extends layout
block content
    h1= title
    p This is Sequelize greeting you :)

    h2 Creating a new team
    form(action="/teams/create", method="post")
        label(for="team_name") Team name:
        input(type="text", name="name", id="team_name")
        input(type="submit")
    h2 Teams

    ul
    each team in teams
        li
            = team.name
            |  (
            a(href="/teams/" + team.id + "/destroy") Destroy
            | )
            ul
                li
                    | Creating a new player:
                    br
                    form(action="/teams/" + team.id + "/players/create", method="post", style="display: inline")
                        label(for="player_name") Player name:
                        input(type="text", name="name", id="player_name")
                        br
                        label(for="isGoalkeeper") Goalkeeper?
                        input(type="checkbox", name="isGoalkeeper", id="player_isGoalkeeper")
                        br
                        input(type="submit")
                each player in team.Players
                    li
                        = player.name
                        if player.isGoalkeeper
                            |  (Goalkeeper)
                        |  (
                        a(href="/teams/" + team.id + "/players/" + player.id + "/destroy") Destroy
                        | )


